@model todolist_app.Models.TodoItem

@{
    ViewData["Title"] = "Delete";
}

<style>
.delete-container {
    padding: 20px;
}
.delete-container .row{
    padding: 10px;
}
.delete-container .h1 {
    display: inline;
}
</style>

<div class="container delete-container">
    <div class="title">
        <h1><strong>Delete </strong> "@Model.Name (ID: @Model.Id)"<strong>?</strong></h1>

        <h4>Are you sure you want to delete this task?</h4>
        @if (!@Model.IsComplete)
        {
            <h5>This task has not been completed yet!</h5>
        }
        <hr />
    </div>
    <form asp-action="Delete">
        <div class="form-group" style="float:right">
            <input type="hidden" asp-for="Id" />
            <button class="btn btn-secondary" asp-action="Index">  
                Cancel
            </button>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>
